
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea,input[type=email],input[type=passsword],input[type=number],input[type=file],input[type=date] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: rgba(240, 240, 240, 0.39)
}

input[type=submit],input[type=button] {
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:200px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 25px;
  background:rgb(126, 141, 207);
  padding: 20px;
  width:600px;
  margin-left:350px;
 
}
