<!DOCTYPE html>
<html>
  {% load static %}


<head>
    <link rel="stylesheet" href="{% static 'images/hospital1.css' %}">
    <div class="basic">
      {% include "doctorheader.html" %}
    </div>
</head>
<body>
  
  
<br><br><br><br>
<div class="container">
  <img src="{% static 'images/hs.jpg' %}"height="200px" width="550px">
  <form method="POST" action="/diagnosis1/">
    {% csrf_token %}
    <label for="name">op id</label>
    <input type="text" name="op_id" value="{{data.op_id}}" readonly>

    <label for="doctor_id">doctor id</label>
    <input type="text" name="doctor_id" value="{{data.doctor_id}}" readonly>
    <br><br>

    <label for="patient_id">patient_id</label>
    <input type="text" name="patient_id" value="{{data.patient_id}}" readonly>
    <br><br><br>

   
    <label for="diagnosis">diagnosis</label>
    <textarea name="diagnosis" placeholder="Write something.." style="height:200px" required></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
