<html>
    <head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'table.css' %}">
  <div class="basic">
    {% include "adminheader.html" %}
  </div>
    </head>
    <body>
        <table id="customers">
            <tr>
              
                <th>name</th>
                <th>Address</th>
                <th>phone no</th>
                <th>email</th>
                <th>gender</th>
                <th>category</th>
                <th>DOJ</th>
                <th>age</th>
                <th>remark</th>
                
                <th>allotment</th>
            </tr>
      
    {% for ct in items %}  
    <tr>
       

			
			
       <td>{{ ct.name}}</td>  
       
       
       <td>{{ ct.address}}</td>
    
       <td>{{ ct.phoneno}}</td>    

			
			
       <td>{{ ct.email}}</td>  
       
       
       <td>{{ ct.gender}}</td>

       <td>{{ ct.category}}</td>  
       
       
       <td>{{ ct.doj}}</td>
    
       <td>{{ ct.age}}</td>    

			
			
       <td>{{ ct.remark}}</td>  
       
       
       


       
       <td><a href="/doctorallotment1/{{ct.id}}">allotment</a></td>


			
           
           
            
            
            
    {% endfor %}
</tr>
</table>     

    </form>
    </body>
    </html>