<!DOCTYPE html>
<html>
  {% load static %}
<link rel="stylesheet" href="{% static 'css4/form.css'%}">
<div class="basic">
  {% include "patientheader.html" %}
</div>

<head>
    <link rel="stylesheet" href="{% static 'images/hospital.css' %}">
</head>
<body>
  
  
<br><br><br><br>
<div class="container">
  <img src="{% static 'images/hs.jpg' %}"height="200px" width="550px">
  <form method="POST" action="/givecomplaint/">
    {% csrf_token %}
    <label for="patientid">Patient Id</label>
    <input type="text" name="patientid" value="{{uid}}" readonly>

    <label for="complaint">Complaint</label>
    <input type="text" name="complaint" placeholder=".." required>

  

    

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
