<html>
    <head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'table.css' %}">
  <div class="basic">
    {% include "adminheader.html" %}
  </div>
    </head>
    <body>
        <table id="customers">
            <tr>
                <th>doctor_id</th>
                <th>name</th>
             
                <th>Description</th>
                <th>photo</th>
                <th>phone</th>
            
            
            </tr>
      
    {% for ct in items %}  
    <tr>
       <td>{{ ct.doctor_id}}</td>    

			
			
       <td>{{ ct.name}}</td>  
       
       
     
    
       <td>{{ ct.description}}</td>    

			
			
       <td><img src="{{ ct.photo}}" width="100" height="100"></td>  
       
       
    
       <td>{{ ct.phoneno}}</td>    
    

       
       


			
           
           
            
            
            
    {% endfor %}
</tr>
</table>     

    </form>
    </body>
    </html>